@model IEnumerable<HomeStore.Models.Customer>

@{
    ViewBag.Title = "viewCustomer";
}

<h2>View Customers</h2>
<h6>..</h6>
<br>
<p>
    @Html.ActionLink("Register New Customer", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseName)
        </th>
        <th>Update </th>
        <th>Delete </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HouseName)
        </td>
        <td>
            <h3 class="btn btn-warning">  @Html.ActionLink("Edit", "Edit", new { id = item.id }) </h3></td>
         <td>
             <h3 class="btn btn-warning"> @Html.ActionLink("Delete", "Delete", new { id = item.id }) </h3>
        </td>
    </tr>
}

</table>
<a href="@Url.Action("adminPannel","admin")">Back to Admin Pannel </a>